/* Imports */
@import "./components/responsivness";

// Variables
$Very_Dark_Gray: hsl(0, 0%, 17%);
$Dark_Gray: hsl(0, 0%, 59%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Rubik;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $Dark_Gray;
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

p {
  color: $Dark_Gray;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

h2 {
  color: $Very_Dark_Gray;
}

/* Section 1 Top half */
.header {
  min-height: 40vh;
  background-image: url(../images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .input-group {
    span {
      background-color: black !important;
      padding: 0 1.5rem;
      border: none;
    }
  }
  .result {
    position: absolute;
    top: 13rem;
    z-index: 2;
    border-color: $Dark_Gray;
    border-radius: 1rem;
  }
}

/* Section 2 Bottom half*/
.bottom {
  min-height: 60vh;
  overflow: hidden;
}
